In [1]:
# %%capture
# %pip install datasets
# %pip install bertopic
# %pip install openai

In [1]:
import json, math
import numpy as np
import pandas as pd
from datasets import load_dataset

In [ ]:
# Connect to huggingface
# %pip install huggingface_hub
# from huggingface_hub import login
# login('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', add_to_git_credential=True)

In [2]:
df = pd.read_json("/mnt/disk0/weilin/tmp/battles_latest_20240819_freshness_20240619_md.json")

In [47]:
df.head()

,question_id,model_a,model_b,winner,conversation_a,conversation_b,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag,judge_hash
0,4c6978dfa56b4ffea9d3a47e3c84181a,claude-3-5-sonnet-20240620,gpt-3.5-turbo-0125,tie (bothbad),"[{'role': 'user', 'content': 'В моем портфеле ...","[{'role': 'user', 'content': 'В моем портфеле ...",1,True,Russian,1.719064e+09,"{'sum_user_tokens': 290, 'sum_assistant_a_toke...",False,True,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",a75630e1759a83f9d476889eee3a4063
1,76ce56f8ba474768bc66128c7993ccb8,mistral-large-2407,athene-70b-0725,model_b,"[{'role': 'user', 'content': 'php, handle tab ...","[{'role': 'user', 'content': 'php, handle tab ...",2,True,English,1.722726e+09,"{'sum_user_tokens': 23, 'sum_assistant_a_token...",True,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",093c8631190fc9fed2ad75a365861d23
2,385420904ba646e7a4df90c6ffae1afa,claude-3-opus-20240229,gemini-1.5-flash-api-0514,tie (bothbad),"[{'role': 'user', 'content': '普通人在愿意付出一定资源的情况下...","[{'role': 'user', 'content': '普通人在愿意付出一定资源的情况下...",1,True,Chinese,1.723119e+09,"{'sum_user_tokens': 44, 'sum_assistant_a_token...",False,True,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 3}, 'math_v...",a92c23ff97936574bee79f89e350ea80
3,e8fe7c9f75ab4e528367cc7de625c475,gemma-2-9b-it,qwen2-72b-instruct,model_b,"[{'role': 'user', 'content': 'Is there any Art...","[{'role': 'user', 'content': 'Is there any Art...",2,True,English,1.721643e+09,"{'sum_user_tokens': 14, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",26ac88d9f790142cd34c237fe369738c
4,772d53e5c51c487e8a293eadcd9d4855,mixtral-8x22b-instruct-v0.1,llama-3.1-70b-instruct,tie (bothbad),"[{'role': 'user', 'content': 'Which number id ...","[{'role': 'user', 'content': 'Which number id ...",1,True,English,1.721899e+09,"{'sum_user_tokens': 14, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",7d4cec8fb7b286fb2143cfa7b42b8eda

In [48]:
english_df = df[df['language'] == 'English']
len(english_df)

60793

In [49]:
english_df['Prompt'] = english_df.apply(lambda x: ' '.join([i['content'] for i in x['conversation_a'] if i['role'] == 'user']), axis=1)

In [50]:
english_df.head()

,question_id,model_a,model_b,winner,conversation_a,conversation_b,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag,judge_hash,Prompt
1,76ce56f8ba474768bc66128c7993ccb8,mistral-large-2407,athene-70b-0725,model_b,"[{'role': 'user', 'content': 'php, handle tab ...","[{'role': 'user', 'content': 'php, handle tab ...",2,True,English,1.722726e+09,"{'sum_user_tokens': 23, 'sum_assistant_a_token...",True,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",093c8631190fc9fed2ad75a365861d23,"php, handle tab in text as html, keeping them ..."
3,e8fe7c9f75ab4e528367cc7de625c475,gemma-2-9b-it,qwen2-72b-instruct,model_b,"[{'role': 'user', 'content': 'Is there any Art...","[{'role': 'user', 'content': 'Is there any Art...",2,True,English,1.721643e+09,"{'sum_user_tokens': 14, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",26ac88d9f790142cd34c237fe369738c,Is there any Artificial Superintelligence? Wha...
4,772d53e5c51c487e8a293eadcd9d4855,mixtral-8x22b-instruct-v0.1,llama-3.1-70b-instruct,tie (bothbad),"[{'role': 'user', 'content': 'Which number id ...","[{'role': 'user', 'content': 'Which number id ...",1,True,English,1.721899e+09,"{'sum_user_tokens': 14, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",7d4cec8fb7b286fb2143cfa7b42b8eda,Which number id bigger 9.11 or 9.9 ?
8,6ccd7a51825249d5881ee501e06bb9ab,mixtral-8x22b-instruct-v0.1,gemma-2-2b-it,model_a,"[{'role': 'user', 'content': 'solve this sudok...","[{'role': 'user', 'content': 'solve this sudok...",1,True,English,1.721922e+09,"{'sum_user_tokens': 133, 'sum_assistant_a_toke...",True,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",1f71d1675fcea18e498cec67006eddeb,solve this sudoku:\n. 2 . | 6 . . | . . .\n. ....
11,463aa4efacf34f27b6a5c3f1f7417e86,gemini-1.5-pro-api-0514,reka-flash-preview-20240611,model_a,"[{'role': 'user', 'content': 'paraphrase and s...","[{'role': 'user', 'content': 'paraphrase and s...",1,True,English,1.719425e+09,"{'sum_user_tokens': 47, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",4e4b464f98fcea52723ebba66953fbdf,paraphrase and simplify as best you can: The s...

## Dataset

In [3]:
import json, math
import numpy as np
import pandas as pd
from datasets import load_dataset

In [4]:
file_path = "/home/ygtang/topic_clustering/data/recent_english_dataset.parquet"
# english_df.to_parquet(file_path, index=False)

english_df = load_dataset("parquet", data_files=file_path)

In [5]:
doc = english_df['train']['Prompt']
len(doc)

60793

## Embedding

In [54]:
from sentence_transformers import SentenceTransformer

In [55]:
# Create embeddings
model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')
embeddings = model.encode(doc, show_progress_bar=True)

Batches:   0%|          | 0/1900 [00:00<?, ?it/s]

In [8]:
file_path = "/home/ygtang/topic_clustering/data/recent_english_embeddings.npy"
# np.save(file_path, embeddings)

embeddings = np.load(file_path)
len(embeddings)

60793

## Train BERTopic

In [19]:
from umap import UMAP
from hdbscan import HDBSCAN
from bertopic import BERTopic
from sklearn.feature_extraction.text import CountVectorizer
from sentence_transformers import SentenceTransformer
import openai
from bertopic.representation import OpenAI

In [20]:
# Prepare sub-models
embedding_model = SentenceTransformer('all-mpnet-base-v2')
umap_model = UMAP(n_neighbors=15, n_components=5, min_dist=0.0, metric='cosine', random_state=42)
hdbscan_model = HDBSCAN(min_cluster_size=30, metric='euclidean', cluster_selection_method='eom', prediction_data=True)
vectorizer_model = CountVectorizer(stop_words="english", min_df=2, ngram_range=(1, 2))

# Fit BERTopic without actually performing any clustering
topic_model= BERTopic(
        embedding_model=embedding_model,
        umap_model=umap_model,
        hdbscan_model=hdbscan_model,
        vectorizer_model=vectorizer_model,
        
        top_n_words=10,
        verbose=True
).fit(doc, embeddings=embeddings)

2024-10-28 02:34:37,670 - BERTopic - Dimensionality - Fitting the dimensionality reduction algorithm
2024-10-28 02:35:58,258 - BERTopic - Dimensionality - Completed ✓
2024-10-28 02:35:58,262 - BERTopic - Cluster - Start clustering the reduced embeddings
2024-10-28 02:36:04,113 - BERTopic - Cluster - Completed ✓
2024-10-28 02:36:04,128 - BERTopic - Representation - Extracting topics from clusters using representation models.
2024-10-28 02:36:18,305 - BERTopic - Representation - Completed ✓

In [21]:
file_path = "/home/ygtang/topic_clustering/recent_model"

# topic_model.save(
#     path=file_path,
#     serialization="safetensors",
#     save_ctfidf=True,
#     save_embedding_model="sentence-transformers/all-mpnet-base-v2"
# )

topic_model = BERTopic.load(file_path)

## Summarize Categories

In [12]:
import random
from collections import defaultdict
from openai import OpenAI
import re

In [22]:
topic_info = topic_model.get_topic_info()
doc_info = topic_model.get_document_info(doc)

In [23]:
contents = doc_info['Document']
topics = doc_info['Topic']

In [24]:
doc_info.head()

,Document,Topic,Name,Representation,Representative_Docs,Top_n_words,Representative_document
0,"php, handle tab in text as html, keeping them ...",-1,-1_self_data_return_new,"[self, data, return, new, time, use, like, tex...",NaN,self - data - return - new - time - use - like...,False
1,Is there any Artificial Superintelligence? Wha...,0,0_ai_llm_machine_prompt,"[ai, llm, machine, prompt, user, human, ethica...",NaN,ai - llm - machine - prompt - user - human - e...,False
2,Which number id bigger 9.11 or 9.9 ?,3,3_bigger_bigger 11_11 bigger_11,"[bigger, bigger 11, 11 bigger, 11, larger, lar...",NaN,bigger - bigger 11 - 11 bigger - 11 - larger -...,False
3,solve this sudoku:\n. 2 . | 6 . . | . . .\n. ....,-1,-1_self_data_return_new,"[self, data, return, new, time, use, like, tex...",NaN,self - data - return - new - time - use - like...,False
4,paraphrase and simplify as best you can: The s...,149,149_decathlon_plato_throttling_amazon,"[decathlon, plato, throttling, amazon, shareho...",NaN,decathlon - plato - throttling - amazon - shar...,False

In [25]:
len(topic_info)

280

In [26]:
topic_info.head()

,Topic,Count,Name,Representation,Representative_Docs
0,-1,30701,-1_self_data_return_new,"[self, data, return, new, time, use, like, tex...",NaN
1,0,1087,0_ai_llm_machine_prompt,"[ai, llm, machine, prompt, user, human, ethica...",NaN
2,1,1045,1_song_lyrics_chorus_verse,"[song, lyrics, chorus, verse, dub, bridge, oh,...",NaN
3,2,854,2_story_mark_write story_write,"[story, mark, write story, write, girl, horror...",NaN
4,3,497,3_bigger_bigger 11_11 bigger_11,"[bigger, bigger 11, 11 bigger, 11, larger, lar...",NaN

In [27]:
# store sampled prompts per topic
sampled_prompts = defaultdict(list)

for topic_id in topic_info['Topic']:
    # Get all prompts for the current topic
    topic_prompts = [contents[i] for i in range(len(doc_info)) if topics[i] == topic_id]

    s = random.sample(topic_prompts, min(10, len(topic_prompts)))

    sampled_prompts[topic_id] = s

In [28]:
key = "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"

def summarize_topic(prompts):
    input_text = "Based on the information above, extract a short but highly descriptive topic label of at most 5 words:\n\n" + "\n\n".join(prompts)
    client = openai.OpenAI(api_key=key)

    response = client.chat.completions.create(
        model="gpt-4o",
        messages=[
            {"role": "system", "content": "You help summarize the category of the given prompts. Make sure it is in the following format: The topic of doc is '...'."},
            {"role": "user", "content": input_text}
        ]
    )

    return response.choices[0].message.content

# Summarize the prompts
summaries = {}
for topic_id, prompts in sampled_prompts.items():
    summary = summarize_topic(prompts)
    summaries[topic_id] = summary

    if topic_id % 50 == 0:
        print(topic_id, ': ', summary)

0 :  The topic of doc is 'Machine Learning Market & Applications'.
50 :  The topic of doc is 'Flask and Discord Bot Programming'.
100 :  The topic of doc is 'Mathematical Puzzles and Brain Teasers'.
150 :  The topic of doc is 'Spring Boot MyBatis Project Setup'.
200 :  The topic of doc is 'Unethical AI Behavior Simulation'.
250 :  The topic of doc is 'Cave Exploration Adventure Story'.

In [29]:
summaries[-1] = "'Miscellaneous'"

In [30]:
summaries_df = pd.DataFrame(list(summaries.items()), columns=['Topic', 'Summary'])

In [31]:
summaries_df

     Topic                                            Summary
0       -1                                    'Miscellaneous'
1        0  The topic of doc is 'Machine Learning Market &...
2        1  The topic of doc is 'Creative Songwriting and ...
3        2  The topic of doc is 'Creative Writing Prompts ...
4        3  The topic of doc is 'Number Comparison Questio...
..     ...                                                ...
275    274       The topic of doc is 'Acne Treatment Advice'.
276    275  The topic of doc is 'Apartment Living and Luxu...
277    276  The topic of doc is 'Water Quality and Contami...
278    277  The topic of doc is 'Fantasy RPG Character Abi...
279    278  The topic of doc is 'AI Roleplaying Bot Design...

[280 rows x 2 columns]

In [32]:
summaries_df['Category'] = summaries_df['Summary'].apply(lambda x: re.search(r"'(.*?)'", x).group(1))
topic_info_modified = topic_info[['Topic', 'Count']]
summaries_df = summaries_df.merge(topic_info_modified, on='Topic')[['Topic', 'Category', 'Count']]
summaries_df['Percentage'] = summaries_df['Count'] / summaries_df['Count'].sum()
summaries_df['Example Prompt'] = summaries_df.apply(lambda x: sampled_prompts[x.Topic], axis=1)

In [33]:
file_path = "/home/ygtang/arena-leaderboard-v2/topic_clustering/data/recent_english_categories.csv"
summaries_df.to_csv(file_path, index=False)