In [1]:
import json, math
import numpy as np
import pandas as pd
from datasets import load_dataset
from bertopic import BERTopic

In [2]:
file_path = "/home/ygtang/arena-leaderboard-v2/topic_clustering/data"

topic_model = BERTopic.load(f"{file_path}/recent_model")
english_df = load_dataset("parquet", data_files=f"{file_path}/recent_english_dataset.parquet")

Generating train split: 0 examples [00:00, ? examples/s]

In [3]:
df = english_df['train'].to_pandas()

In [4]:
df.head()

,question_id,model_a,model_b,winner,conversation_a,conversation_b,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag,judge_hash,Prompt
0,76ce56f8ba474768bc66128c7993ccb8,mistral-large-2407,athene-70b-0725,model_b,"[{'content': 'php, handle tab in text as html,...","[{'content': 'php, handle tab in text as html,...",2,True,English,1.722726e+09,"{'bold_count_a': {'**': 8, '__': 0}, 'bold_cou...",True,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': True, 'creati...",093c8631190fc9fed2ad75a365861d23,"php, handle tab in text as html, keeping them ..."
1,e8fe7c9f75ab4e528367cc7de625c475,gemma-2-9b-it,qwen2-72b-instruct,model_b,[{'content': 'Is there any Artificial Superint...,[{'content': 'Is there any Artificial Superint...,2,True,English,1.721643e+09,"{'bold_count_a': {'**': 5, '__': 0}, 'bold_cou...",False,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': False, 'creat...",26ac88d9f790142cd34c237fe369738c,Is there any Artificial Superintelligence? Wha...
2,772d53e5c51c487e8a293eadcd9d4855,mixtral-8x22b-instruct-v0.1,llama-3.1-70b-instruct,tie (bothbad),[{'content': 'Which number id bigger 9.11 or 9...,[{'content': 'Which number id bigger 9.11 or 9...,1,True,English,1.721899e+09,"{'bold_count_a': {'**': 0, '__': 0}, 'bold_cou...",False,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': True, 'creati...",7d4cec8fb7b286fb2143cfa7b42b8eda,Which number id bigger 9.11 or 9.9 ?
3,6ccd7a51825249d5881ee501e06bb9ab,mixtral-8x22b-instruct-v0.1,gemma-2-2b-it,model_a,[{'content': 'solve this sudoku: . 2 . | 6 . ....,[{'content': 'solve this sudoku: . 2 . | 6 . ....,1,True,English,1.721922e+09,"{'bold_count_a': {'**': 0, '__': 0}, 'bold_cou...",True,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': True, 'creati...",1f71d1675fcea18e498cec67006eddeb,solve this sudoku:\n. 2 . | 6 . . | . . .\n. ....
4,463aa4efacf34f27b6a5c3f1f7417e86,gemini-1.5-pro-api-0514,reka-flash-preview-20240611,model_a,[{'content': 'paraphrase and simplify as best ...,[{'content': 'paraphrase and simplify as best ...,1,True,English,1.719425e+09,"{'bold_count_a': {'**': 0, '__': 0}, 'bold_cou...",False,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': False, 'creat...",4e4b464f98fcea52723ebba66953fbdf,paraphrase and simplify as best you can: The s...

In [6]:
doc = df['Prompt']

In [7]:
topic_info = topic_model.get_topic_info()
doc_info = topic_model.get_document_info(doc)
doc_info.head()

,Document,Topic,Name,Representation,OpenAI,Representative_Docs,Top_n_words,Representative_document
0,"php, handle tab in text as html, keeping them ...",-1,-1_self_data_return_use,"[self, data, return, use, new, time, text, fun...","[{\n ""reasoning"": ""The last response of the...",NaN,self - data - return - use - new - time - text...,False
1,Is there any Artificial Superintelligence? Wha...,-1,-1_self_data_return_use,"[self, data, return, use, new, time, text, fun...","[{\n ""reasoning"": ""The last response of the...",NaN,self - data - return - use - new - time - text...,False
2,Which number id bigger 9.11 or 9.9 ?,5,5_bigger_bigger 11_11_11 bigger,"[bigger, bigger 11, 11, 11 bigger, larger, lar...",[Comparing Decimal Numbers],NaN,bigger - bigger 11 - 11 - 11 bigger - larger -...,False
3,solve this sudoku:\n. 2 . | 6 . . | . . .\n. ....,-1,-1_self_data_return_use,"[self, data, return, use, new, time, text, fun...","[{\n ""reasoning"": ""The last response of the...",NaN,self - data - return - use - new - time - text...,False
4,paraphrase and simplify as best you can: The s...,33,33_campaign_marketing_brand_bcg,"[campaign, marketing, brand, bcg, business, de...",[Marketing and Brand Strategy],NaN,campaign - marketing - brand - bcg - business ...,False

## Topic Clustering on Category

In [37]:
from sentence_transformers import SentenceTransformer
from umap import UMAP
from hdbscan import HDBSCAN
from bertopic import BERTopic
from sklearn.feature_extraction.text import CountVectorizer
from sentence_transformers import SentenceTransformer
import openai
from bertopic.representation import OpenAI
import re

In [ ]:
summaries_df = pd.read_csv(f"{file_path}/recent_english_categories.csv")
cat_doc = summaries_df['Category']

In [12]:
# Create embeddings
model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')
embeddings = model.encode(cat_doc, show_progress_bar=True)

Batches:   0%|          | 0/6 [00:00<?, ?it/s]

In [128]:
# Prepare sub-models
embedding_model = SentenceTransformer('all-mpnet-base-v2')
umap_model = UMAP(n_neighbors=20, n_components=5, min_dist=0.0, metric='cosine', random_state=42)
hdbscan_model = HDBSCAN(min_cluster_size=3, metric='euclidean', cluster_selection_method='eom', prediction_data=True)
vectorizer_model = CountVectorizer(stop_words="english", min_df=2, ngram_range=(1, 2))

# Fit BERTopic without actually performing any clustering
topic_model= BERTopic(
        embedding_model=embedding_model,
        umap_model=umap_model,
        hdbscan_model=hdbscan_model,
        vectorizer_model=vectorizer_model,
        
        top_n_words=10,
        verbose=True
).fit(doc, embeddings=embeddings)

2024-10-27 21:53:00,140 - BERTopic - Dimensionality - Fitting the dimensionality reduction algorithm
2024-10-27 21:53:02,208 - BERTopic - Dimensionality - Completed ✓
2024-10-27 21:53:02,210 - BERTopic - Cluster - Start clustering the reduced embeddings
2024-10-27 21:53:02,221 - BERTopic - Cluster - Completed ✓
2024-10-27 21:53:02,225 - BERTopic - Representation - Extracting topics from clusters using representation models.
2024-10-27 21:53:02,243 - BERTopic - Representation - Completed ✓

In [129]:
cat_topic_info = topic_model.get_topic_info()
cat_doc_info = topic_model.get_document_info(cat_doc)

In [130]:
cat_topic_info

,Topic,Count,Name,Representation,Representative_Docs
0,-1,40,-1_creation_art_generation_programming,"[creation, art, generation, programming, scena...","[Text-to-Image AI Prompt Creation, Creative Wr..."
1,0,75,0_problem_problem solving_solving_problems,"[problem, problem solving, solving, problems, ...",[Mathematics and Mathematical Problem Solving....
2,1,14,1_geography_historical_finance_political,"[geography, historical, finance, political, st...","[Travel and Geography, Geography and Demograph..."
3,2,14,2_development_software development_software_pr...,"[development, software development, software, ...","[Programming and Software Development, Program..."
4,3,10,3_related_research_queries_related queries,"[related, research, queries, related queries, ...",[Medical and Surgical Concerns Related to Seve...
5,4,8,4_character_video_fictional_games,"[character, video, fictional, games, writing, ...","[Role-Playing Games and Character Development,..."
6,5,7,5_code_programming_assistance_development prog...,"[code, programming, assistance, development pr...","[Programming and Code Troubleshooting, Program..."
7,6,5,6_creative writing_writing_creative_prompts,"[creative writing, writing, creative, prompts,...",[Creative Writing and Art with a Focus on Bana...
8,7,5,7_queries_related_related queries_technology,"[queries, related, related queries, technology...",[Automotive and Cycling Information and Querie...
9,8,5,8_questions___,"[questions, , , , , , , , , ]","[Greetings, Asking for Names or Personal Ident..."
10,9,4,9_data_manipulation_using_algorithms,"[data, manipulation, using, algorithms, proces...","[Algorithms and Data Structures, JSON and Data..."

In [131]:
key = "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"

def summarize_topic(prompts):
    input_text = "Based on the information above, extract a short but highly descriptive topic label of at most 2 words:\n\n" + "\n\n".join(prompts)
    client = openai.OpenAI(api_key=key)

    response = client.chat.completions.create(
        model="gpt-4o",
        messages=[
            {"role": "system", "content": "You help summarize the category of the given fine grained categories. Make sure it is in the following format: The topic is '...'."},
            {"role": "user", "content": input_text}
        ]
    )

    return response.choices[0].message.content

# Summarize the prompts
summaries = {}

for topic_id, cat in enumerate(cat_topic_info['Representative_Docs'][1:]):
    summary = summarize_topic(cat)
    summaries[topic_id] = summary

In [132]:
summaries[-1] = "'Other'"
cat_summaries_df = pd.DataFrame(list(summaries.items()), columns=['Topic', 'Summary'])

In [133]:
cat_summaries_df['Category'] = cat_summaries_df['Summary'].apply(lambda x: re.search(r"'(.*?)'", x).group(1))
topic_info_modified = cat_topic_info[['Topic', 'Count']]
cat_summaries_df = cat_summaries_df.merge(topic_info_modified, on='Topic')[['Topic', 'Category', 'Count']]
cat_summaries_df['Percentage'] = cat_summaries_df['Count'] / cat_summaries_df['Count'].sum()
cat_summaries_df = cat_summaries_df.fillna('Other')

In [134]:
cat_summaries_df

    Topic                      Category  Count  Percentage
0       0  Mathematical Problem Solving     75    0.401070
1       1          Biographical History     14    0.074866
2       2                   Programming     14    0.074866
3       3               Health Concerns     10    0.053476
4       4              Creative Writing      8    0.042781
5       5                Java Debugging      7    0.037433
6       6              Creative Writing      5    0.026738
7       7           Information Queries      5    0.026738
8       8          Communication Topics      5    0.026738
9       9               Data Processing      4    0.021390
10     -1                         Other     40    0.213904

## Broad topic + Narrowed topics

In [135]:
merged = cat_doc_info[['Topic']].merge(summaries_df, left_index=True, right_index=True)
merged = merged.merge(cat_summaries_df, left_on='Topic_x', right_on='Topic')
merged = merged[['Topic_x', 'Category_y', 'Count_y', 'Percentage_y', 'Topic_y', 'Category_x', 'Count_x', 'Percentage_x', 'Example Prompt']]
merged = merged.rename(columns={
    'Topic_x': 'broad_category_id', 
    'Category_y': 'broad_category', 
    'Count_y': 'broad_category_count',
    'Percentage_y': 'broad_category_percentage',
    'Topic_y': 'narrower_category_id',
    'Category_x': 'narrower_category',
    'Count_x': 'narrower_category_count',
    'Percentage_x': 'narrower_category_percentage',
    'Example Prompt': 'example_prompt'})
merged.head()

,broad_category_id,broad_category,broad_category_count,broad_category_percentage,narrower_category_id,narrower_category,narrower_category_count,narrower_category_percentage,example_prompt
0,4,Creative Writing,8,0.042781,0,Creative and Role-playing Writing with Inappro...,2669,0.089327,['Hello guys skibidi toilet summarize the hobb...
1,0,Mathematical Problem Solving,75,0.401070,1,Artificial Intelligence and Language Models,1062,0.035543,"['Skills AI creates a demand for', 'Why are al..."
2,6,Creative Writing,5,0.026738,2,Music and Songwriting,974,0.032598,"[""What do these lyrics make you feel and do yo..."
3,0,Mathematical Problem Solving,75,0.401070,3,Letter Counting in Words or Sentences,615,0.020583,"[""how many r's in the word raspberrrrrry?"", 'H..."
4,7,Information Queries,5,0.026738,4,Technology and Hardware Queries,609,0.020382,"['whats a bus in an ocp rack', 'From a time be..."

In [141]:
# merged.to_csv(f"{file_path}/recent_english_categories_2.0.csv", index=False)

## LLM Performance by Category

In [137]:
df.head()

,question_id,model_a,model_b,winner,conversation_a,conversation_b,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag,judge_hash,Prompt
0,76ce56f8ba474768bc66128c7993ccb8,mistral-large-2407,athene-70b-0725,model_b,"[{'content': 'php, handle tab in text as html,...","[{'content': 'php, handle tab in text as html,...",2,True,English,1.722726e+09,"{'bold_count_a': {'**': 8, '__': 0}, 'bold_cou...",True,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': True, 'creati...",093c8631190fc9fed2ad75a365861d23,"php, handle tab in text as html, keeping them ..."
1,e8fe7c9f75ab4e528367cc7de625c475,gemma-2-9b-it,qwen2-72b-instruct,model_b,[{'content': 'Is there any Artificial Superint...,[{'content': 'Is there any Artificial Superint...,2,True,English,1.721643e+09,"{'bold_count_a': {'**': 5, '__': 0}, 'bold_cou...",False,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': False, 'creat...",26ac88d9f790142cd34c237fe369738c,Is there any Artificial Superintelligence? Wha...
2,772d53e5c51c487e8a293eadcd9d4855,mixtral-8x22b-instruct-v0.1,llama-3.1-70b-instruct,tie (bothbad),[{'content': 'Which number id bigger 9.11 or 9...,[{'content': 'Which number id bigger 9.11 or 9...,1,True,English,1.721899e+09,"{'bold_count_a': {'**': 0, '__': 0}, 'bold_cou...",False,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': True, 'creati...",7d4cec8fb7b286fb2143cfa7b42b8eda,Which number id bigger 9.11 or 9.9 ?
3,6ccd7a51825249d5881ee501e06bb9ab,mixtral-8x22b-instruct-v0.1,gemma-2-2b-it,model_a,[{'content': 'solve this sudoku: . 2 . | 6 . ....,[{'content': 'solve this sudoku: . 2 . | 6 . ....,1,True,English,1.721922e+09,"{'bold_count_a': {'**': 0, '__': 0}, 'bold_cou...",True,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': True, 'creati...",1f71d1675fcea18e498cec67006eddeb,solve this sudoku:\n. 2 . | 6 . . | . . .\n. ....
4,463aa4efacf34f27b6a5c3f1f7417e86,gemini-1.5-pro-api-0514,reka-flash-preview-20240611,model_a,[{'content': 'paraphrase and simplify as best ...,[{'content': 'paraphrase and simplify as best ...,1,True,English,1.719425e+09,"{'bold_count_a': {'**': 0, '__': 0}, 'bold_cou...",False,False,"{'high_freq': False, 'sampled': True}","{'criteria_v0.1': {'complexity': False, 'creat...",4e4b464f98fcea52723ebba66953fbdf,paraphrase and simplify as best you can: The s...

In [148]:
doc_info.head()

,Document,Topic,Name,Representation,OpenAI,Representative_Docs,Top_n_words,Representative_document
0,"php, handle tab in text as html, keeping them ...",-1,-1_self_data_return_use,"[self, data, return, use, new, time, text, fun...","[{\n ""reasoning"": ""The last response of the...",NaN,self - data - return - use - new - time - text...,False
1,Is there any Artificial Superintelligence? Wha...,-1,-1_self_data_return_use,"[self, data, return, use, new, time, text, fun...","[{\n ""reasoning"": ""The last response of the...",NaN,self - data - return - use - new - time - text...,False
2,Which number id bigger 9.11 or 9.9 ?,5,5_bigger_bigger 11_11_11 bigger,"[bigger, bigger 11, 11, 11 bigger, larger, lar...",[Comparing Decimal Numbers],NaN,bigger - bigger 11 - 11 - 11 bigger - larger -...,False
3,solve this sudoku:\n. 2 . | 6 . . | . . .\n. ....,-1,-1_self_data_return_use,"[self, data, return, use, new, time, text, fun...","[{\n ""reasoning"": ""The last response of the...",NaN,self - data - return - use - new - time - text...,False
4,paraphrase and simplify as best you can: The s...,33,33_campaign_marketing_brand_bcg,"[campaign, marketing, brand, bcg, business, de...",[Marketing and Brand Strategy],NaN,campaign - marketing - brand - bcg - business ...,False

In [149]:
print(doc_info.shape)
print(df.shape)

(60793, 8)
(60793, 17)

In [ ]:
summaries_df = pd.read_csv(f"{file_path}/recent_english_categories_2.0.csv")